#participants-panel {
    background-color: white;
    width: 0px;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

.participants-list {
    padding: 0px 10px;
}

.participant {
    
}

@media (max-width: 600px) {
    .title-container {
        font-size: 14px;
    }
}