#participants-panel {
    display: none;
    background-color: white;
    width: 400px;
    height: 100%;
    flex-direction: column;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-family: sans-serif;
}
