.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-container {
    height: 100%;
    width: 100%;
    display: flex;
    max-height: calc(100% - 150px);
}

@media (max-width: 600px) {
    .chat-container {
        max-height: calc(100% - 90px);
    }
}