.message-container {
    display: flex;
    width: 100%;
    padding: 5px 0px;
}

.message, .my-message {
    min-width: 140px;
    width: fit-content;
    max-width: 460px;
    height: fit-content;
    background-color: white;
    word-wrap: break-word;
    border-radius: 10px;
    border: .5px solid rgb(202, 202, 202);
    padding: 10px;
}

.my-message-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px;
}

.my-message {
    background-color: rgb(255, 254, 173);
}

.nickname {
    width: 100%;
    display: flex;
    font-weight: bold;
    font-size: 18px;
}

.message-text {
    font-size: 20px;
    margin-top: 4px;
}

.time {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 4px;
}